<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8" />
    <title>Home | NPU</title>
    <link rel="stylesheet" href="{{ asset('/public/Core/css/style.css') }}">
</head>
<body>
Hello World !!!
</body>
</html>